* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(185, 75%, 39%);
}

.img1 {
    width: 600px;
    margin-bottom: 180px;
    margin-right: 160px;
}
.img2 {
    width: 500px;
    margin-top: 150px;
}

.container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: -680px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    
}
.img3 {
    border-radius: 15px 15px 0 0;
}

.img4 {
   border-radius: 55px;
   margin-left: auto;
   margin-right: auto;
   margin-top: -79px;
   border: 5px solid rgb(255, 255, 255);
}

.span1 {
    color: gray;
    font-size: 22px;
}

.parag1 {
    color: gray;
    margin-top: -30px;
}

.name {
}

.prices {
    display: grid;
    grid-template-columns: auto auto auto;
    
   
}

.likes {
    font-size: 15px;
    color: gray;
}

.header {
    color: hsl(229, 23%, 23%);
}

@media (max-width: 800px) {
    .img1 {width: 300px;
        margin-bottom: 180px;
        margin-right: 160px;}
        .container {
            
        }
        .img1 {
            width: 5px;
           
        }
        .img2 {
            width: 500px;
        }
}
